[Unit]
Description=Varnish HTTP accelerator log daemon

[Service]
User=varnishlog
ExecStart=/usr/bin/varnishncsa -a -w /var/log/varnish/varnishncsa.log

[Install]
WantedBy=multi-user.target
